/** navbar*/

.navbar{
    background-color: black  !important;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.btn{
    
    border-color:#c30606;
    color: aliceblue;
    background-color: #c30606;
}
.navbar-brand{
    color: #c30606;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ? Carrusel */
#carouselExampleAutoplaying {
  border: 2px solid #a30b0b;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(148, 4, 4, 0.5);
}

/* Cajita del texto */
.carousel-caption {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: 30px;
  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 12px;
  padding: 15px 25px;

  text-align: center;
  width: fit-content;
  max-width: 70%;
}

/* Título */
.carousel-caption h5 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

/* Descripción */
.carousel-caption p {
  color: white;
  font-size: 18px;
  margin: 5px 0 0;
}

/* Tablets */
@media (max-width: 768px) {
  .carousel-caption {
    bottom: 18px;
    padding: 10px 16px;
    max-width: 85%;
  }

  .carousel-caption h5 {
    font-size: 22px;
  }

  .carousel-caption p {
    font-size: 15px;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .carousel-caption {
    bottom: 10px;
    padding: 8px 12px;
    max-width: 90%;
  }

  .carousel-caption h5 {
    font-size: 18px;
  }

  .carousel-caption p {
    font-size: 13px;
    line-height: 1.2;
  }
}

.carousel-item img {
  height: 420px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 480px) {
  .carousel-item img {
    height: 220px;
  }
}

.fila-netflix {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
}

.fila-netflix::-webkit-scrollbar {
    display: none;
}

.card-netflix {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    min-width: 200px; 
}

.card-netflix:hover {
    transform: scale(1.05);
    z-index: 10;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgba(0,0,0,0.5);
    height: 300px;
    top: 20px;
}


                /** Footer */

.footer-grid{
    display:grid;
    place-items: center;
    grid-template-columns: repeat(4, 3fr);
    gap:20px;
}

.footer-grid a{
    color: rgb(223, 0, 0);
}

.footer-grid a:hover{
    color: white;
    text-decoration: underline;
}

.footer{
    background-color: #141414;
}

.line{
    background-color: #1f1f1f;
    color: white;
    padding: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer p{
    color: white;
   
}

.language select{
    background-color: black;
    color: white;
    border: 2px solid; color: white;
    padding: 2px;

}

.language :hover{
    color: rgb(223, 0, 0);
}